.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  box-sizing: border-box;
}

/* MAIN */
.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: #283034;
}

.App-body .content-viewport {
  border: purple 5px solid;
  width: 80vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1%;
}

.App-link {
  color: #61dafb;
}

/* UTILITIES */
.center {
  margin: auto;
  width: 35%;
  padding: 10px;
}

.fullcenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.verticalcenter {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.moderate-size {
  max-width: 33vh;
}

/* Demonstrate Scale Down */
.testDiv {
  width: 100px;
}

/* Color Palette */
.colorpanel {
  border: purple 5px solid;
  width: 10vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
}

.grid-child {
  aspect-ratio: 1;
}
