/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


/* MAIN */
.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: #283034;
}

.App-link {
  color: #61dafb;
}


/* UTILITIES */
.container {
  max-width: 80%;
}

/* Demonstrate Scale Down */
.testDiv {
  width: 100px;
}
