<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="device-width", initial-scale=1.0">
    <link rel="stylesheet" href="Navbar.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="flex-container topnav">
      <nav class="flex-row">

        <div class="nav-section homelogo"><!-- LogoSplash -->HOMELOGO</div>

        <div class="nav-section navigation">
          <a href="">Quizzes</a>
          <a href="">About</a>
          <a href="">Contact</a>
        </div>
        <div class="nav-section social-links">&copy;</div>
        <!-- Social Icons -->
        <!-- Github -->
      </nav>
    </div>
    <!-- <section>
    </section> -->
  </body>
</html>
